.leftnav{
    background: #050824;
    display: flex;
    flex-direction: column;
    width: 16%;
    height: 110%;
    position: relative;

}

.leftnav i{
    margin-right: 5px;
    font-size: 15px;
}

.leftnav a{
    display: flex;
    color: #ada7a7;
    margin-left: 2rem;
    top: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
    text-decoration: none;
}

.leftnav a i{
    font-size: 1.5rem;
    transition: all 300ms ease;
}

.leftnav a:last-child{
    position: relative;
    bottom:0;
    width: 100%;
}

.leftnav a:active{
    background:rgba(132, 139, 200, 0.18) ;
    color: #0080ff;
    margin-left: 0;
}

.leftnav a:active::before{
    content: "";
    width: 6px;
    height: 100%;
    background: #0080ff;
}

.leftnav a:active i{
    color: #0080ff;
    margin-left: calc(1rem - 3px);
}

.leftnav a:hover{
    color: #0080ff;
}

.leftnav a:hover i{
    margin-left: 1rem;
}

/* main*/
.main{
    position: absolute;
    width: 80%;
    top: 20%;
    left: 18%;
    margin-bottom: 5rem;
    padding: 1.5rem;
}

.main button{
    width:90px;
    margin: 0;
    height: 40px;
    border-radius: 2rem;
    background: none;
}

.carlist .accept{
    border-color: rgb(40, 206, 22);
    color: rgb(40, 206, 22);
}

.carlist .accept:hover{
    background-color:rgb(40, 206, 22) ;
    color: black;
}

/*car list*/
.main .carlist{
    width: 97%;
    margin-top: 2rem;
}

.carlist table{
    background: #050824;

    width: 100%;
    border-radius: 2rem;
    padding: 1.8rem;
    text-align: center;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    transition: all 300ms ease;
}
.carlist table th{
    color: white;
}

.carlist table:hover{
    box-shadow: none;
} 

.carlist table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid rgba(132, 139, 200, 0.18);
    color: #ada7a7;
}

.carlist table tbody tr:last-child td{
    border: none;
}