*{
    font-family:sans-serif;
}
body{
    background-color: #323334;
    margin: 0;
    padding: 0;
}

header{
    padding: 10px;
    margin: 0;
    background-color: #030516;
    width: 100%;
    height: 18%;
}

image{
    float:left
}

.logo{
    width:428.875;
    height: 56.625;
    background-color:#030516;
}

header div.navigation{
    position: absolute;
    padding: 10px;
    left: 40%;
    top: 1%;
}

ul.nav{
    display: block;
    background-color:#030516;
    text-align: center;
    margin: 0;
    padding: 0;
}

li.navlist{
    float: left;
    padding-right: 60;
}

li.navlist a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navlist a:hover{
    color: #0080ff;
    font-size: 19px;
}

div.profiledetails{
    padding: 5px;
    position: absolute;
    left: 85%;
    top: 10%;
    width: 200px

   
}

.profilephoto{
    width:50;
    height: 50;

}

.userdetails{
    position: absolute;
    padding-top: 0%;
    top:0;
    left: 27%;
    padding: 8px;
    margin: 0;
    color: white;
    font-size: 15px;
}

a.edit{
    text-decoration: none;
    color: #0080ff;
}

footer{
    padding: 10px;
    height: 30%;
    background-color: #030516;
}

.footer .footerlogo{
    width:428.875;
    height: 56.625;
}

.footer .two{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.two .footernav{
    margin-left: 0;

}
.footer .media{
    float: right;
    background-color: #030516;
}

.footer .media i{
    margin-right: 15px;
}



